<a href="https://colab.research.google.com/github/Gail529/Taylor/blob/main/app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
!pip install streamlit
!pip install pyngrok==4.1.1
!pip install ngrok

In [6]:
df=pd.read_csv('/content/song_df.csv')
df.head()

   Unnamed: 0                 song  Positive  ...    tempo  valence  popularity
0           0                  Red        14  ...  124.985    0.647          46
1           1          Treacherous        11  ...  109.995    0.395          39
2           2         All Too Well         8  ...   93.061    0.316          48
3           3          Begin Again         9  ...   79.025    0.323          40
4           4  Welcome To New York         8  ...  117.023    0.615          62

[5 rows x 21 columns]

In [35]:
%%writefile app.py
import streamlit as st
import pandas as pd
import numpy as np
import seaborn as sns
from PIL import Image
from sklearn.metrics.pairwise import cosine_similarity
PAGE_CONFIG = {"page_title":"Taylor","page_icon":":smiley:","layout":"centered"}
st.set_page_config(**PAGE_CONFIG)


image = Image.open('tay_img.jpg')

df=pd.read_csv('/content/song_df.csv')
song_df=df.filter(['song'])

#calculating the similarities scores
cols=song_df.columns
scores_df=df[['Positive','Negative','Anger','Anticipation','Disgust','Fear','Joy','Sadness','Surprise','Trust','acousticness','danceability','energy','liveness','loudness','speechiness','tempo','valence','popularity']]
cosine_sim=cosine_similarity(scores_df,scores_df)
indices=pd.Series(song_df.index, song_df['song']).drop_duplicates()

#function that will generate the recommendations
def get_recommendations(title,cosine_sim=cosine_sim):   
    index=indices[title]
    sim_scores = list(enumerate(cosine_sim[index]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    song_indices = [i[0] for i in sim_scores]
    return song_df['song'].iloc[song_indices]


choice = st.sidebar.text_input('Pick /key in  a Song')
st.sidebar.write("Suggestions")
st.sidebar.dataframe(song_df,300,400)



st.image(image,width=400)
st.title("A Recommendation Engine for Taylor's songs")
if choice:
    recommendations=get_recommendations(choice)
    st.dataframe(recommendations,500,500)

Overwriting app.py

In [7]:
! ngrok authtoken 1n3n9zfRI524JaNlhCuS3GHARgM_7Z465eCAfxd5tsaavs7Tj

Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

In [8]:
! ngrok

NAME:
   ngrok - tunnel local ports to public URLs and inspect traffic

DESCRIPTION:
    ngrok exposes local networked services behinds NATs and firewalls to the
    public internet over a secure tunnel. Share local websites, build/test
    webhook consumers and self-host personal services.
    Detailed help for each command is available with 'ngrok help <command>'.
    Open http://localhost:4040 for ngrok's web interface to inspect traffic.

EXAMPLES:
    ngrok http 80                    # secure public URL for port 80 web server
    ngrok http -subdomain=baz 8080   # port 8080 available at baz.ngrok.io
    ngrok http foo.dev:80            # tunnel to host:port instead of localhost
    ngrok http https://localhost     # expose a local https server
    ngrok tcp 22                     # tunnel arbitrary TCP traffic to port 22
    ngrok tls -hostname=foo.com 443  # TLS traffic for foo.com to port 443
    ngrok start foo bar baz          # start tunnels from the configuration file

VERSION:
   2.3.35

AUTHOR:
  inconshreveable - <alan@ngrok.com>

COMMANDS:
   authtoken	save authtoken to configuration file
   credits	prints author and licensing information
   http		start an HTTP tunnel
   start	start tunnels by name from the configuration file
   tcp		start a TCP tunnel
   tls		start a TLS tunnel
   update	update ngrok to the latest version
   version	print the version string
   help		Shows a list of commands or help for one command

PYNGROK VERSION:
   4.1.1

In [10]:
!streamlit run app.py &>/dev/null&

In [11]:
from pyngrok import ngrok
# Setup a tunnel to the streamlit port 8501
public_url = ngrok.connect(port='8501')
public_url

'http://be8e9e6a7a4a.ngrok.io'

In [ ]:
!pgrep streamlit

138
204
461
494

In [ ]:
!kill 494

In [ ]:
!ngrok.kill()

/bin/bash: -c: line 1: syntax error: unexpected end of file