<a href="https://colab.research.google.com/github/Gail529/Taylor/blob/main/Cosine_Similarity_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [8]:
song_df=pd.read_csv('/content/song_df.csv')
song_df.head()

   Unnamed: 0                 song  Positive  ...    tempo  valence  popularity
0           0                  Red        14  ...  124.985    0.647          46
1           1          Treacherous        11  ...  109.995    0.395          39
2           2         All Too Well         8  ...   93.061    0.316          48
3           3          Begin Again         9  ...   79.025    0.323          40
4           4  Welcome To New York         8  ...  117.023    0.615          62

[5 rows x 21 columns]

In [10]:
cols=song_df.columns
print(cols)

Index(['Unnamed: 0', 'song', 'Positive', 'Negative', 'Anger', 'Anticipation',
       'Disgust', 'Fear', 'Joy', 'Sadness', 'Surprise', 'Trust',
       'acousticness', 'danceability', 'energy', 'liveness', 'loudness',
       'speechiness', 'tempo', 'valence', 'popularity'],
      dtype='object')

In [11]:
scores_df=song_df[['Positive','Negative','Anger','Anticipation','Disgust','Fear','Joy','Sadness','Surprise','Trust','acousticness','danceability','energy','liveness','loudness','speechiness','tempo','valence','popularity']]
cosine_sim=cosine_similarity(scores_df,scores_df)
cosine_sim.shape

(64, 64)

In [12]:
cosine_sim[3]

array([0.97692309, 0.98066861, 0.98527002, 1.        , 0.9926738 ,
       0.83927829, 0.98259235, 0.98513841, 0.9551882 , 0.98526352,
       0.93544386, 0.99494475, 0.98382692, 0.77391665, 0.95208236,
       0.99467535, 0.89692423, 0.89703985, 0.97237656, 0.98731281,
       0.92405355, 0.92430771, 0.98164988, 0.99321934, 0.98725036,
       0.99435932, 0.95093708, 0.97155401, 0.96856712, 0.985093  ,
       0.97276819, 0.9404075 , 0.94906149, 0.96942481, 0.96898948,
       0.96574774, 0.87972966, 0.92505101, 0.98565174, 0.94991461,
       0.97109217, 0.98688279, 0.99386078, 0.99536586, 0.98730446,
       0.98281172, 0.97379292, 0.97169022, 0.96759385, 0.97502172,
       0.97502172, 0.98021704, 0.95439454, 0.9877637 , 0.93730188,
       0.98637906, 0.98287056, 0.99300156, 0.97360761, 0.99471703,
       0.99490457, 0.98708214, 0.9089844 , 0.91839025])

In [13]:
indices=pd.Series(song_df.index, song_df['song']).drop_duplicates()

In [14]:
indices[:5]

song
Red                    0
Treacherous            1
All Too Well           2
Begin Again            3
Welcome To New York    4
dtype: int64

In [15]:
def get_recommendations(title,cosine_sim=cosine_sim):
    index=indices[title]
    sim_scores = list(enumerate(cosine_sim[index]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    song_indices = [i[0] for i in sim_scores]
    return song_df['song'].iloc[song_indices]

In [17]:
get_recommendations('Red')

38                                 Daylight
24    This Is Why We Can't Have Nice Things
22                              Getaway Car
9                          I Wish You Would
27                             Cruel Summer
25                    Call It What You Want
42                       champagne problems
57                                    peace
1                               Treacherous
2                              All Too Well
Name: song, dtype: object

In [18]:
get_recommendations('cardigan')

44                     cowboy like me
55                         mirrorball
59                              the 1
33                    Cornelia Street
60    the last great american dynasty
40                              betty
23                              Dress
58                              seven
34           Death By A Thousand Cuts
48                          happiness
Name: song, dtype: object

In [24]:
get_recommendations('Afterglow')

54                                 mad woman
31    Miss Americana & The Heartbreak Prince
20                             So It Goes...
16                                  End Game
49                                      hoax
50                                      hoax
8                               Shake It Off
26                 I Forgot That You Existed
29                                The Archer
28                                   The Man
Name: song, dtype: object